<a href="https://colab.research.google.com/github/fkgusdk/TEAM-YeoRi/blob/main/Section0_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 불러오고 읽기

In [ ]:
# 라이브러리 import
import os
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
os.listdir('./drive/MyDrive/ㅇ3ㄹ1/')

['Untitled0.ipynb', 'friend.csv']

In [ ]:
# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/ㅇ3ㄹ1/'

# friend.csv 파일 src 변수 할당
friend_src = base_src+"/friend.csv"

In [ ]:
# pandas의 read_csv => 데이터 불러오기
# encoding= 데이터 인코딩 방식 설정 (utf-8로 하면 특수문자나 영어 이외의 언어도 모두 다룰 수 있음)
df = pd.read_csv(friend_src,encoding='utf-8')

# 파일을 csv 가 아닌 엑셀로 저장하거나, utf-8 csv로 저장하지 않으면 불러와지지 않을 수 있음
# 만약 제대로 했는데도 불러와지지 않으면,
# df = pd.read_csv(friend_src,encoding='utf-8', engine='python') 으로 적으면 읽어짐

In [ ]:
# 상위 5개 파일 읽기 
df.head() # default 값이 5

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
# 상위 2개 파일 읽기 
df.head(2)

    name  age        job
0   John   20    student
1  Jenny   30  developer

# 데이터 저장하기

In [ ]:
# new_friend.csv 파일 src 변수 할당
new_friend_src = base_src + "/new_friend.csv"

# pandas의 to_csv => 데이터 프레임 저장
## index = True or False => 데이터 저장시 새로운 인덱스를 생성할지 말지
## (false로 하면 인덱스열 생성 x -> 쓸데 없는 메모리 소모 x)
## encoding => 데이터 인코딩 방식 설정
df.to_csv(new_friend_src,index=False,encoding='utf-8')
# df로 불러온 데이터를 new_friend 이름의 새로운 파일로 저장

In [ ]:
os.listdir(base_src)
# new freind.csv 파일 생성되어 있음!

['Untitled0.ipynb', 'friend.csv', 'new_friend.csv']