<a href="https://colab.research.google.com/github/fkgusdk/TEAM-YeoRi/blob/main/Section_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 지난 주 복습

In [1]:
import pandas as pd

# 베이스 경로
base_src = './drive/MyDrive/ㅇ3ㄹ1/'

# 데이터 경로 
friend_src = base_src+"/friend.csv"

# 불러오기
df = pd.read_csv(friend_src,encoding='utf-8')

# 데이터 복사&저장할 새로운 파일의 경로
new_friend_src = base_src + "/new_friend.csv"

# 저장하기
df.to_csv(new_friend_src,index=False,encoding='utf-8')

# Numpy 와 Series 비교

In [2]:
import numpy as np
np.array([1,2,3])
# 인덱스 x
# 행렬 연산에 용이 -> 빠름

array([1, 2, 3])

In [3]:
pd.Series([1,2,3])
# 인덱스 o
# 조회 & 정렬에 용이
# 단, numpy에 비해 느림

0    1
1    2
2    3
dtype: int64

# Series 실습

In [4]:
df # 데이터 프레임 확인하기

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [6]:
# 데이터 프레임에서 column 이름으로 한 열 불러오기
col = df['name']
col
# 시리즈와 형태 동일
# DataFrame은 Series의 집합임을 알 수 있다 (DataFrame의 한 열 = Series)

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [9]:
# pd.Series 함수를 이용해 Series 만들기
series = pd.Series([1,'이','삼',4])
series

0    1
1    이
2    삼
3    4
dtype: object

In [11]:
## pd.Series 의 옵션 값들
# index => 할당값 이름, 중복 가능
# dtype => int, float, string, boolean ...
series = pd.Series([1,2,3,4], index=['ㅇ',3,'ㄹ',1], dtype=float)
series

ㅇ    1.0
3    2.0
ㄹ    3.0
1    4.0
dtype: float64

In [34]:
# 정렬 연습
series = pd.Series([10,2,5,4], index=['a','b','c','d'],dtype=float)

## value 정렬
# ascending=True : 오름차순 (default)
# ascending=False : 내림차순
print("<내림차순>\n",series.sort_values(ascending=False),end='\n\n')
print("<원본>\n",series,'\n\n') # 원본은 바뀌지 않음 -> 반드시 할당까지 해야 함!

asc_df = series.sort_values(ascending=False)
print("<정렬 후 할당까지>\n",asc_df)

<내림차순>
 a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

<원본>
 a    10.0
b     2.0
c     5.0
d     4.0
dtype: float64


<정렬 후 할당까지>
 a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

# DataFrame 실습

In [24]:
## 이름 지을 때

# df1, df2, df3 ... 이렇게 하지 x (헝가리안 표기법)
# 나중에 헷갈리고 찾기 힘들어짐

# 스네이크 표기법
# friend_df = ...

# 여기서는 그냥 df로..

In [37]:
# 데이퍼 프레임 만들기 (딕셔너리 이용)
df = pd.DataFrame({'a':[2,3], 'b':[4,5]},columns=['b','a'])
df

   b  a
0  4  2
1  5  3

In [38]:
# 데이퍼 프레임 만들기 (리스트 이용)
pd.DataFrame([[2,'오',99],['I','Love','You'],[True,0,True]],
             columns=['R','H','A'], index=['R','H','S']) # 데이터 타입 다를 수 있음!

      R     H     A
R     2     오    99
H     I  Love   You
S  True     0  True